@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient-flow {
  background: linear-gradient(to right, #ff5a00, magenta, cyan);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  text-align: center;
  font-size: 3.75rem;
  font-weight: bold;
  width: 672px;
  height: 75px;
  background-size: 200% 100%;
  animation: gradientAnimation 2s linear infinite alternate-reverse;
}

@media (min-width: 768px) h1 {
  font-size: 3.75rem;
  line-height: 1;
}
