/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #ff5a00;
    --color-background: #f5f4f4;
    --color-off-background: #ffffff;
    --color-text: #22272e;
  }

  .dark {
    --color-primary: #ff5a00;
    --color-background: #22272e;
    --color-off-background: #333a43;
    --color-text: #dadada99;
    --color-text-highlight: #dadadade;
  }
  body {
    @apply bg-skin-background text-skin-text;
  }
}

@layer utilities {
  .default-transition {
    @apply transition-all delay-[50ms] duration-200;
  }
}
